<template-panel-table [showOpeation]="false">
    <div class="row" body>
        <div class="col-md-2 left">
            <div class="card">
                <div class="card-header">角色({{roleName}})
                </div>
                <div class="card-block">
                    <data-tree [treeList]="treeList" (onUpdateTree)="onUpdateTree($event)"></data-tree>
                </div>
            </div>
        </div>
        <div class="col-md-10 right">
            <div class="card">
                <div class="card-header">
                    <span class="float-left">
                            <a href="javascript:;" (click)="funModal.show();"> <i class="fa fa-plus-square"></i>添加权限</a>
                            <a href="javascript:;" (click)="onDelList()"> <i class="fa fa-trash"></i>删除</a>  
                        </span>
                </div>
                <div class="card-block">
                    <data-table [modlueName]="'RolePower'" [isSearch]="false" body>
                        <thead class="data-thead" (onCheckAll)="onCheckAll($event,tableRolePower.dataList)">
                            <th class="data-th" name="title" type="link">名称</th>
                            <th class="data-th" name="operationMap" type="list">功能权限</th>
                        </thead>
                        <tbody class="data-tbody" #tableRolePower [isShowPagiation]="false" [IsAutomaticList]="false" [pageSize]="100" [dataList]="dataList"></tbody>
                    </data-table>
                </div>
            </div>
            <data-modal #funModal [title]="'功能权限'" (onModalSave)="onModalSave(tablePower.dataList)">
                <data-table [modlueName]="'power'" [isSearch]="false" body>
                    <thead class="data-thead" (onCheckAll)="onCheckAll($event,tablePower.dataList)">
                        <th class="data-th" name="title" type="link">名称</th>
                        <th class="data-th" name="checkboxList" type="checkboxList">功能权限</th>
                    </thead>
                    <tbody class="data-tbody" #tablePower [isShowPagiation]="false" [IsAutomaticList]="false" [pageSize]="3" [dataList]="powerList"></tbody>
                </data-table>
            </data-modal>
        </div>
    </div>
</template-panel-table>