<div class="form-group" [formGroup]="formInfo">
    <ng-container *ngIf="type=='checkbox'">
        <div class="col-md-offset-2 col-md-10">
            <input type="checkbox" formControlName="{{name}}">{{title}}
        </div>
    </ng-container>
    <ng-container *ngIf="type!='checkbox'">
        <label for="{{name}}" class="col-md-10 control-label" >
            {{title}}
            <ng-container *ngIf="type=='font-img'">
                <i class="{{formInfo.get(name).value}}" ></i>
            </ng-container>
        </label>
        <div class="col-md-10">
            <ng-container *ngIf="type=='text'">
                <input type="text" class="form-control" formControlName="{{name}}">
            </ng-container>
             <ng-container *ngIf="type=='number'">
                <input type="number" class="form-control" formControlName="{{name}}">
            </ng-container>
            <ng-container *ngIf="type=='email'">
                <input type="email" class="form-control" formControlName="{{name}}">
            </ng-container>
            <ng-container *ngIf="type=='password'">
                <input type="password" class="form-control" formControlName="{{name}}">
            </ng-container>
            <ng-container *ngIf="type=='font-img'">
                <input type="text" class="form-control" formControlName="{{name}}">
            </ng-container>
            <ng-container *ngIf="type=='select'">
              <select class="form-control" formControlName="{{name}}">
                  <option *ngFor="let item of dataList" [value]="item.key">{{item.value}}</option>
              </select>
            </ng-container>
            <ng-container *ngIf="type=='date'">
                <input type="text" class="form-control" formControlName="{{name}}" style="display: none">
                <material-datepicker [(date)]="datevalue" [dateFormat]="'YYYY-MM-DD'" (onSelect)="onSelect($event)"  placeholder="请选择日期">
                </material-datepicker>
            </ng-container>
            <ng-container *ngIf="type=='file'">
                <file-upload></file-upload>
                <!-- <input type="file" [multiple]="multiple" #fileInput class="form-control" formControlName="{{name}}"> -->
            </ng-container>
            <ng-content select="form-validator"></ng-content>
        </div>
    </ng-container>
</div>