li{ 
    list-style: none; 
}

ul{
    padding-left: 0px;
}

.ul_li{
    padding-left:20px;padding-top:3px;padding-bottom:3px;
}

p{
    padding: 3px 6px;
    margin: 0px;
}

.hiden{
    display: none;
}

.mouse{
    cursor:pointer;
}