<ng-container *ngIf="type=='required'">
    <div *ngIf="formInfo.get(name).hasError('required') && (formInfo.get(name).touched)" class="alert alert-danger validator-danger">
        {{title}}
    </div>
</ng-container>

<ng-container *ngIf="type=='minLength'">
    <div *ngIf="formInfo.get(name).errors?.minlength" class="alert alert-danger validator-danger">
        {{title}}
    </div>
</ng-container>

<ng-container *ngIf="type=='maxLength'">
    <div *ngIf="formInfo.get(name).errors?.maxlength" class="alert alert-danger validator-danger">
        {{title}}
    </div>
</ng-container>

<ng-container *ngIf="type=='email'">
    <div *ngIf="formInfo.get(name).errors?.email  && (formInfo.get(name).touched)" class="alert alert-danger validator-danger">
        {{title}}
    </div>
</ng-container>

<ng-container *ngIf="type=='mismatch'">
    <div *ngIf="formInfo.get(name).errors?.MatchPassword" class="alert alert-danger validator-danger">
        {{title}}
    </div>
</ng-container>