.form-group .input-group button{
    margin-right: 12px;
}

.table th, .table td {
    padding: 0.31rem;
}
   
li{ 
    list-style: none; 
}

ul{
    padding-left: 0px;
}

.ul_li{
    padding-left:20px;padding-top:3px;padding-bottom:3px;
}

p{
    padding: 3px 6px;
    margin: 0px;
    cursor: pointer;
}

.hiden{
    display: none;
}

.mouse{
    cursor:pointer;
}

.left{
    padding-right: 0px;
}