// Here you can add other styles
body{
    font-family:"微软雅黑", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.table th, .table td {
    padding: 0.35rem;
}

.hiden{
    display:none;
}

@media (max-width: 768px) { 
    .navbar-brand2{
        margin-left:30px;
    }
 }

 .validator-danger{
     padding:2px 12px;
     font-size: 12px;
 }
