<div class="row">
    <div class="col-md-12 about">
        <p>
            关于我们 <br />About US
        </p>
        <p>
            诚以载道，以信立本，合作共赢。
            <br /> 英德飓风网络科技有限公司，我们以高科技为起点、
            <br /> 以技术为核心、以强大的技术队伍支撑。
            <br /> 飓风科技基于现有互联网资源系统平台，我们为广大客户提供域名注册、
            <br /> 服务器租用及托管、网站策划与建设、电商平台、网站维护及优化、微信公众号&APP、
            <br /> 软件开发等解决方案和服务，是企业可以在低成本、
            <br /> 高效率、高可靠的前提下建设自己的网上平台，
            <br /> 树立独特的网络形象，从而降低了企业信息化的门槛。
        </p>
    </div>
</div>
<div class="row imgcode">
    <div class="col-md-12">
        <img src="assets/img/home/andpic.jpg" class="img-responsive">
        <img src="assets/img/home/andpic.jpg" class="img-responsive">
    </div>
</div>
